.model {
    position: relative;
}

.detail {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: "";
}
.img {
    position: absolute;
    left: 24%;
    content: "";
    top: 24%;
}


.desc {
    content: "";
    position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   height:250px;
}
